@use 'index' as *;

:host {
  display: block;
  position: relative;
}

hr {
  background-color: $line;

  // Center vertically
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  $size: 64px;

  position: relative;
  width: $size;
  height: $size;

  // Center horizontally
  margin: 0 auto;

  @include desktop {
    $size: 96px;

    width: $size;
    height: $size;

    // Right align
    margin: 0 0 0 auto;
  }

  &:is(:focus-within, :hover) circle {
    fill: $black;
  }
}

button {
  position: absolute;
  width: 100%;
  height: 100%;

  &:focus-visible {
    outline: solid 2px white;
    outline-offset: -4px;

    @include desktop {
      outline-width: 3px;
      outline-offset: -6px;
    }
  }
}

circle {
  fill: $purple;
}

// Circular hit area
.container,
button,
svg {
  border-radius: 50%;
}
