<form (ngSubmit)="onSubmit()" #form="ngForm" appDateValidator>
  <label>Day
    <input type="number" required name="day" [(ngModel)]="day" min="1" max="31">
  </label>
  <label>Month
    <input type="number" required name="month" [(ngModel)]="month" min="1" max="12">
  </label>
  <label>Year
    <input type="number" required name="year" [(ngModel)]="year" [min]="EPOCH" [max]="currentYear">
  </label>
  <p *ngIf="form.errors?.['future']">Must be in the past</p>
  <p *ngIf="form.errors?.['nonexistent']">Must be a valid date</p>
  <button [disabled]="form.invalid">Compute Age</button>
  <label>
    <output>{{ years ?? DEFAULT_OUTPUT }}</output>
    years
  </label>
  <label>
    <output>{{ months ?? DEFAULT_OUTPUT }}</output>
    months
  </label>
  <label>
    <output>{{ days ?? DEFAULT_OUTPUT }}</output>
    days
  </label>
</form>
