<form (ngSubmit)="onSubmit(form.valid)" #form="ngForm" appDateValidator>
  <label>Day
    <input type="number" name="day" [(ngModel)]="day" placeholder="dd" required min="1" max="31"
        #dayInput="ngModel">
    <p *ngIf="dayInput.errors?.['required'] && (dayInput.touched || form.submitted)">
      This field is required
    </p>
    <p *ngIf="dayInput.errors?.['min'] || dayInput.errors?.['max']">Must be a valid day</p>
    <!-- Cross-field validation -->
    <p *ngIf="form.errors?.['future']">Must be in the past</p>
    <p *ngIf="form.errors?.['nonexistent']">Must be a valid date</p>
  </label>
  <label>Month
    <input type="number" name="month" [(ngModel)]="month" placeholder="mm" required min="1" max="12"
        #monthInput="ngModel">
    <p *ngIf="monthInput.errors?.['required'] && (monthInput.touched || form.submitted)">
      This field is required
    </p>
    <p *ngIf="monthInput.errors?.['min'] || monthInput.errors?.['max']">Must be a valid month</p>
  </label>
  <label>Year
    <input type="number" name="year" [(ngModel)]="year" placeholder="yyyy" required [min]="EPOCH"
        [max]="currentYear" #yearInput="ngModel">
    <p *ngIf="yearInput.errors?.['required'] && (yearInput.touched || form.submitted)">
      This field is required
    </p>
    <p *ngIf="yearInput.errors?.['max']">Must be in the past</p>
    <p *ngIf="yearInput.errors?.['min']">Must be at least {{ EPOCH }}</p>
  </label>
  <button [disabled]="isSubmissionDisabled(form)">Compute Age</button>
  <label>
    <output>{{ years ?? DEFAULT_OUTPUT }}</output>
    years
  </label>
  <label>
    <output>{{ months ?? DEFAULT_OUTPUT }}</output>
    months
  </label>
  <label>
    <output>{{ days ?? DEFAULT_OUTPUT }}</output>
    days
  </label>
</form>
